<div class="row">
<div class="col-md-4"><h2 class="text-center">To Do</h2>
<%= render @to_do %>
</div>
<div class="col-md-4"><h2 class="text-center">Doing</h2>
<%= render @doing %>
</div>
<div class="col-md-4"><h2 class="text-center">Done</h2>
<%= render @done %>
</div>
</div>


<br>
<%= link_to 'New Task', new_task_path %>
